<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Document</title>
<!-- link for materialize     -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<!-- link for google fonts -->
<link href="https://fonts.googleapis.com/css?family=Krub" rel="stylesheet">
<!-- this will let you add the shopping cart -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- link to stylesheet -->
<link rel="stylesheet" href="assets/css/style.css">

<style>
.container {
    justify-content:center;
    margin-top: 20px;
}
</style>

</head>

<body>
<nav>
<div class="nav-wrapper">
    <a href="index.html" class="brand-logo">Bar Basic</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="index.html">Home</a></li>
        <li><a href="shoppage.html">Shop</a></li>
        <li><a href="signup.html">Login/Sign-up</a></li>
        <li><a href="#"><i class="material-icons">add_shopping_cart</i></a></li>
    </ul>
</div>
</nav>

<center>
    <h1>Shop Bar</h1>
</center>

    
    <div id="container" class="row">
            

	<% for (var i=0; i<products.length; i++) { %>
        <div class="col s4">
        <span><img src="http://localhost:3000/assets/images/"><% products[i].image_url %></span>
            

            <p class="description"><%= products[i].description %></p>
            <p class="price">$<%=  products[i].price %></p>
            
            <p><button>Add to cart</button>
            <i class="material-icons">favorite_border</i></p>
            
		</div>
	<% } %>

    </div>







</body>