body {
    
    font-family: 'Krub', sans-serif;
    font-size: 20px;
    padding: 20px;
    background-color: rgb(241, 241, 226);

}

.nav-wrapper {
    font-weight: bold;
    background-color: rgb(59, 36, 36);

}

#updateColor {
    background-color: black;
}

.page-footer {
    background-color: beige;
    opacity: 200;
    color: black;
    align-content: stretch;
}

#fallLine {
    margin-top: 20px;
}

.tagline {
    font-style: italic;
    font-size: 20px;
    
}

.card-image {
    height: 100;
    width: 100;
    float: left;
}

.row {
    margin-top: 20px;
}

.container {
    justify-content:center;
    margin-top: 20px;

}

#cardHeader {
    margin-top: 20px;
}

#cardSmall {
    background-color: rgb(69, 59, 59);
    color: rgb(171, 171, 171);
}


.button {
    display: inline-block;
    border-radius: 4px;
    background-color: rgb(43, 42, 42);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    font-style: italic;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  #cardP {
      font-style: italic;
  }

  #loginButton {
      background-color: black;
  }

  #addCart {
        color: white;
        background-color: rgb(59, 36, 36);
  }