body {
    
    font-family: 'Krub', sans-serif;
    font-size: 20px;
    padding: 20px;
    background-color: rgb(241, 241, 226);

}

.nav-wrapper {
    font-weight: bold;
    background-color: rgb(59, 36, 36);

}

#updateColor {
    background-color: black;
}

.page-footer {
    background-color: rgb(212, 212, 212)
}

#fallLine {
    margin-top: 20px;
}

.tagline {
    font-style: italic;
    font-size: 20px;
    
}

.card-image {
    height: 100;
    width: 100;
    float: left;
}

.row {
    margin-top: 20px;
}

.container {
    justify-content:center;
    margin-top: 20px;

}
